/* ----------------  Menú - Menú Hamburguesa  ----------------*/

/*********************  MENU PRINCIPAL ******************************/

@media (max-width: 576px) {
    .logoM {
        display: none;
    }


}

.fondoM {
    background-color: rgba(43, 60, 49); /*9e9995 1b1b1b rgb(43, 60, 49);*/
    box-shadow: 5px 5px 8px #666565;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.tM {
    text-shadow: 0 0 10px #ffffff;
    letter-spacing: 5px;
    font-size: 20px;
}

.logoM {
    width: 50px;
    height: 50px;
}

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 5px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.optmenu {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    transition: all 1s solid;
}

.optmenu:hover {
    color: #fff;
    background-color: #8a8a8a;
    transition: all 1s solid;
    border-radius: 20px;
}

.optmenu:active {
    background-color: rgb(82, 129, 108);
    border-radius: 20px;
}

.logo img {
    margin-left: 50px;
}


/* PERSONALIZACION MENU HAMBURGUESA */

.navbar-toggler {
    margin-right: 10px;
    border: 3px solid #fff;
}

.navbar-toggler:hover {
    background-color: #1b1b1b;
}

.custom-toggler.navbar-toggler {
    border-color: #fff;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/* ----------------  ------------------------------------------------------------------------------  ----------------*/

/* ----------------  Header - Banner Parallax  ----------------*/
.container-fluid1 {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url('../img/paquetes-min.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* permite que el fondo se mueva. A esto se le llama efecto parallax */
    background-attachment: fixed;
    height: 650px;
    margin-bottom: 0;
}

/* clases del video de fondo*/
header {
    /*altura fija vertical*/
    height: 100vh;
}



@media (max-width: 576px) {
    header p {
        text-align: justify;
        font-size: 16px;
    }

    .estrellastext {
        font-size: 10px;
    }

}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    margin: 0;
}




header h1 {
    text-shadow: 0 0 30px rgb(64, 98, 75);
    letter-spacing: 5px;
    font-size: 50px;

}

header p {
    font-size: 25px;
    text-shadow: 0 0 30px #fff;
}

.boton {
    text-shadow: 0 0 30px #fff;
    background-color: inset 0 0 0 1000px rgb(138, 225, 193);
    border-color: black;
}

.boton:hover {
    background-color: rgb(64, 98, 75);
    border-color: black;
    color: black;
    text-shadow: 0 0 30px #000000;
}

.icono {
    font-size: 25px;
}

.goto-top {
    position: fixed;
    bottom: 30px;
    right: 20px;
    width: 75px;
    height: 50px;
}

/* ----------------  ------------------------------------------------------------------------------  ----------------*/



/* ----------------  Section P - Habitaciones  ----------------*/

.container-fluidP {
    margin-top: 10px;
    margin-bottom: 50px;
    /*background-image: url(../img/hojas-borde.jpg);*/
    background-size: cover;
}

.card-title {
    font-weight: bolder;
    -webkit-text-stroke: 2px;
    /* Grosor*/
    letter-spacing: 2px;
}

.card-text {
    letter-spacing: 1px;
}

.h1Hab {
    font-weight: bolder;
    font-size: 50px;
    margin-top: 60px;
    margin-bottom: 30px;
    -webkit-text-stroke: 2px;
    /* Grosor*/
    letter-spacing: 6px;
    padding-bottom: 0px;
}

@media (max-width: 576px) {
    .h1Hab {
        font-size: 33px;
    }

}


/* ----------------  ------------------------------------------------------------------------------  ----------------*/



/* ----------------  Section 1 - Paquetes - Estadía  ----------------*/

.container-fluid2 {
    margin-top: 50px;
    margin-bottom: 50px;
    /*background-image: url(../img/hojas-borde.jpg);*/
    background-size: cover;
}


.h1Paq {
    font-weight: bolder;
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 50px;
    -webkit-text-stroke: 2px;
    /* Grosor*/
    letter-spacing: 6px;
    padding-bottom: 0px;
}

.h1Paquetes {
    font-weight: bolder;
    font-size: 40px;
}

.pPaquetes {
    font-size: 18px;
}


.container-border {
    border-style: solid; /* Establece el estilo de borde como sólido */
    border-width: 10px; /* Grosor del borde */
    border-image: url('../img/hojas-min.jpg') 30 round; /* URL de la imagen de borde, tamaño de la imagen, método de repetición */
    padding: 20px; /* Espacio interno para el contenido */
    border-radius: 10px; /* Borde redondeado */
}


.E1 {
    padding-bottom: 160px;
}

.E2 {
    padding-bottom: 100px;
}




/* ----------------  ------------------------------------------------------------------------------  ----------------*/


/* ----------------  Section 2 - Paquetes - Precios  ----------------*/

.h1Pre {
    font-weight: bolder;
    font-size: 50px;
    margin-top: 60px;
    margin-bottom: 30px;
    -webkit-text-stroke: 2px;
    /* Grosor*/
    letter-spacing: 6px;
    padding-bottom: 0px;
}

a {
    text-decoration: none;
    color: #000;
}

.iRegistro {
    font-size: 50px;
    color: rgb(137, 162, 145);
}

.price-table {
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
    background-color: #fff;
    border: 2px solid #d6d6d6;
    transition: all .2s ease-in-out;
    cursor: pointer;
    margin-left: 0px;
}



.price-table:hover {
    background-color: rgb(137, 162, 145);
    margin-top: -40px;
    z-index: 10;
    transform: scale(1.2);
    transition: all 0.2s ease-in;
    border: none;
    box-shadow: rgba(127, 197, 207, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.5) 0px 30px 60px -30px;
}


/*clases de los textos precio y dollar*/

div.price {
    font-size: 30px;
    font-weight: 300;
    color: #333c4d;
}

div.dollar {
    vertical-align: top;
    font-size: 17px !important;
    display: inline-block;
    margin-top: 15px;
    color: #222;
}

.price-table:hover * {
    color: #fff !important;
}

.goto-top {
    position: fixed;
    bottom: 30px;
    right: 20px;
    width: 75px;
    height: 50px;
}

/* ----------------  ------------------------------------------------------------------------------  ----------------*/



/* ----------------  sECCIÓN 3 - Info Adicional - Acordion  ----------------*/

.prueba {
    margin-top: -80px;
    background: rgb(255, 255, 255);
}

.h1InfA {
    font-weight: bolder;
    font-size: 50px;
    margin-top: 60px;
    margin-bottom: 30px;
    -webkit-text-stroke: 2px;
    /* Grosor*/
    letter-spacing: 6px;
    padding-bottom: 0px;
}

@media (max-width: 576px) {
    .h1InfA {
        font-size: 30px;
    }

}


/*color de fondo de cada seccion*/

.accordion-body {
    background-color: #e4e4e4;
}


/*justificar textos*/

.justificar {
    text-align: justify;
    text-indent: 0rem;
    margin: 0;
}


/*cambiar color a las flechas finales de cada seccion*/

.accordion-button:is(.collapsed)::after {
    box-shadow: none;
    background-color: #fff;
}

.accordion-button:not(.collapsed)::after {
    box-shadow: none;
    background-color: #fff;
}


/*estado actual*/

.accordion-button {
    color: #fff !important;
    background-color: rgb(137, 162, 145);
    font-size: 20px;
}


/*La pseudo-clase :last-child de CSS representa el último elemento entre un grupo de elementos hermanos.*/

.accordion-button:last-child {
    background-color: rgb(137, 162, 145);
}


/*estado sobre*/

.accordion-button:hover {
    color: rgb(137, 162, 145) !important;
    background-color: rgb(185, 227, 240);
}


/*estado activo*/

.accordion-button:focus {
    color: #fff !important;
    background-color: rgb(82, 129, 108);
}


/* ----------------  Footer - Info Final - Clip Path  ----------------*/

footer {
    background-color: rgb(137, 162, 145); /*#d6dbe3*/
    padding-top: 50px;
    padding-bottom: 50px;
}

.mov {
    font-weight: bolder;
    padding-bottom: 10px;
}

.esp {
    margin-right: 20px;
}

.desc {
    width: 140px;
    min-height: 100px;
}

.insta {
    background: linear-gradient(to right, #405de6, #5851db, #833ab4);
    border: none;
    color: white;
}

.derechos {
    font-weight: bolder;
}

i {
    font-size: 25px;
}


/* ----------------  ------------------------------------------------------------------------------  ----------------*/